//! **************************************************************************
// Written by: Map O.40d on Sat Mar 16 05:25:45 2019
//! **************************************************************************

SCHEMATIC START;
COMP "j" LOCATE = SITE "P134" LEVEL 1;
COMP "k" LOCATE = SITE "P133" LEVEL 1;
COMP "clk" LOCATE = SITE "P132" LEVEL 1;
COMP "q" LOCATE = SITE "P120" LEVEL 1;
SCHEMATIC END;

