//! **************************************************************************
// Written by: Map O.40d on Sat Mar 09 09:18:43 2019
//! **************************************************************************

SCHEMATIC START;
COMP "y" LOCATE = SITE "P111" LEVEL 1;
COMP "i0" LOCATE = SITE "P126" LEVEL 1;
COMP "i1" LOCATE = SITE "P124" LEVEL 1;
COMP "i2" LOCATE = SITE "P123" LEVEL 1;
COMP "i3" LOCATE = SITE "P121" LEVEL 1;
COMP "s0" LOCATE = SITE "P131" LEVEL 1;
COMP "s1" LOCATE = SITE "P127" LEVEL 1;
SCHEMATIC END;

