//! **************************************************************************
// Written by: Map O.40d on Sat Feb 16 04:56:43 2019
//! **************************************************************************

SCHEMATIC START;
COMP "a1" LOCATE = SITE "P121" LEVEL 1;
COMP "a2" LOCATE = SITE "P124" LEVEL 1;
COMP "a3" LOCATE = SITE "P127" LEVEL 1;
COMP "b1" LOCATE = SITE "P123" LEVEL 1;
COMP "a4" LOCATE = SITE "P132" LEVEL 1;
COMP "b2" LOCATE = SITE "P126" LEVEL 1;
COMP "a5" LOCATE = SITE "P134" LEVEL 1;
COMP "b3" LOCATE = SITE "P131" LEVEL 1;
COMP "a6" LOCATE = SITE "P138" LEVEL 1;
COMP "b4" LOCATE = SITE "P133" LEVEL 1;
COMP "a7" LOCATE = SITE "P140" LEVEL 1;
COMP "b5" LOCATE = SITE "P137" LEVEL 1;
COMP "b6" LOCATE = SITE "P139" LEVEL 1;
COMP "y2" LOCATE = SITE "P115" LEVEL 1;
COMP "y3" LOCATE = SITE "P116" LEVEL 1;
COMP "y4" LOCATE = SITE "P117" LEVEL 1;
COMP "y5" LOCATE = SITE "P118" LEVEL 1;
COMP "y6" LOCATE = SITE "P119" LEVEL 1;
COMP "y7" LOCATE = SITE "P120" LEVEL 1;
SCHEMATIC END;

