//! **************************************************************************
// Written by: Map O.40d on Sat Mar 09 09:32:46 2019
//! **************************************************************************

SCHEMATIC START;
COMP "i" LOCATE = SITE "P121" LEVEL 1;
COMP "s0" LOCATE = SITE "P124" LEVEL 1;
COMP "s1" LOCATE = SITE "P123" LEVEL 1;
COMP "y1" LOCATE = SITE "P114" LEVEL 1;
COMP "y2" LOCATE = SITE "P112" LEVEL 1;
COMP "y3" LOCATE = SITE "P111" LEVEL 1;
SCHEMATIC END;

