
# PlanAhead Generated physical constraints 

NET "i" LOC = P132;
NET "i0" LOC = P126;
NET "i1" LOC = P124;
NET "i2" LOC = P123;
NET "i3" LOC = P121;
NET "s0" LOC = P131;
NET "s1" LOC = P127;
NET "s2" LOC = P134;
NET "s3" LOC = P133;
NET "y" LOC = P111;
NET "y0" LOC = P116;
NET "y1" LOC = P115;
NET "y2" LOC = P114;
NET "y3" LOC = P112;
