//! **************************************************************************
// Written by: Map O.40d on Sat Mar 23 03:57:42 2019
//! **************************************************************************

SCHEMATIC START;
COMP "i" LOCATE = SITE "P132" LEVEL 1;
COMP "y" LOCATE = SITE "P111" LEVEL 1;
COMP "i0" LOCATE = SITE "P126" LEVEL 1;
COMP "i1" LOCATE = SITE "P124" LEVEL 1;
COMP "i2" LOCATE = SITE "P123" LEVEL 1;
COMP "i3" LOCATE = SITE "P121" LEVEL 1;
COMP "s0" LOCATE = SITE "P131" LEVEL 1;
COMP "s1" LOCATE = SITE "P127" LEVEL 1;
COMP "s2" LOCATE = SITE "P134" LEVEL 1;
COMP "s3" LOCATE = SITE "P133" LEVEL 1;
COMP "y0" LOCATE = SITE "P116" LEVEL 1;
COMP "y1" LOCATE = SITE "P115" LEVEL 1;
COMP "y2" LOCATE = SITE "P114" LEVEL 1;
COMP "y3" LOCATE = SITE "P112" LEVEL 1;
SCHEMATIC END;

